<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.toast">

    <application>
        <activity
            android:name="com.android.test.ToastBActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name="com.android.test.ToastActivity"
            android:theme="@android:style/Theme.Holo.Light" />
    </application>

</manifest>